<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32758101659-j4cq0d18q3j0sj4jbceuq7fu7vp04dp2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32758101659-j4cq0d18q3j0sj4jbceuq7fu7vp04dp2</string>
	<key>API_KEY</key>
	<string>AIzaSyCd1VUt9NMNfHC_txFl3m5YhAKIvRcln78</string>
	<key>GCM_SENDER_ID</key>
	<string>32758101659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.cocarrApp</string>
	<key>PROJECT_ID</key>
	<string>cocarr-rimor</string>
	<key>STORAGE_BUCKET</key>
	<string>cocarr-rimor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32758101659:ios:acba96f25b127d4a28783e</string>
</dict>
</plist>